doctype html
html(lang="en")
html
  head
    title= title
  body
    h1 PI API
    h2= message

    P
    h3 Get File Metadata


    block content
    form#getFileMetadata(name='getFileMetadata' method='POST' action='/getFileMetadata')
      input#userInputFile(type='text', name='file', value='', placeholder='File Name')
      input(type='submit', value='Submit')
