<%- include('_header') -%>

    <div class="container">
        <h2>API</h2>
        <div class="container">
            <a class="btn btn-default" href="/api/takePicture" role="button">Take Photo</a>
            <a class="btn btn-default" href="/api/syncGoogleStorage" role="button">Sync Google Storage</a>      
        </div>
    </div>

    <%- include('_header') -%>